// Place all the styles related to the countries controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.countries {
  margin-left:0;
  li:nth-child(odd)		{ background-color:#eee; }
  li:nth-child(even)	{ background-color:#fff; }
  li {
    display:block;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    padding:0.5rem;
    margin-bottom: 0.25rem;
    span.name {
      padding:0 0.25rem;
      display: inline-block;
    }
    i {
      font-size: larger;
    }
    .pad-right {
      padding-right: 0.5rem;
    }
    .push-right {
      float:right;
    }
  }
}