// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
	height: 100vh;
}

.login-icon {
  color:red;
  font-size: 30px;
}
nav ul i.fi-power {
  margin-left: .5rem;
}
.pad-left-large {
  padding-left: 1rem;
}
nav h1 img {
    vertical-align: middle;
    margin-left: 0.5rem;
    margin-bottom: 2px;
}

.pad-left {
  padding-left:.5rem;
}
.pad-right {
  padding-right:.5rem;
}

.small-header {
	font-size:10pt;
}
