ul#PCL {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0px;
  font-size: 12px;
  .handle {
    padding-right:0.5rem;
  }
  .sequence {
    font-size: 30px;
    vertical-align: middle;
    padding-right:0.5rem;
  }
}
